body {
    background-color: #c2e7d5;
    font-family: monospace;
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(9, 77, 9);
}

h2 {
    color: darkgreen;
}

input {
    padding: 8px;
    margin: 10px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    font-family: monospace;
}

button {
    padding: 8px;
    margin: 10px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    background-color: lightgreen;
    color: darkgreen;
    font-family: monospace;
}

button:hover {
    background-color: darkgreen;
    color: white;
}